<div class="container flex flex-col gap-6">
  <h2 class="text-2xl font-semibold mb-5">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "contents") do |f| %>
    <!-- Email Field -->
    <div class="my-5">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <!-- Password Field -->
    <div class="my-5">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <!-- Remember Me Checkbox (if applicable) -->
    <% if devise_mapping.rememberable? %>
      <div class="my-5 flex items-center">
        <%= f.check_box :remember_me, class: "mr-2" %>
        <%= f.label :remember_me, class: "text-gray-600" %>
      </div>
    <% end %>

    <!-- Submit Button -->
    <div class="inline">
      <%= f.submit "Log in", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>