<%= form_with(model: post, class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5" data-controller="word-count">
    <%= form.label :content %>
    <%= form.text_area :content, id: "content_field", rows: 4, class: "block text-black shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", data: { word_count_target: "textarea", action: "input->word-count#updateWordCount" } %>
    <p>Word count: <span data-word-count-target="count">0</span></p>
  </div>

  <div class="my-5">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="my-5">
    <%= form.label :references %>
    <%= form.text_area :references, rows: 4, placeholder: "Enter one URL per line", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <p class="text-sm text-gray-500">Enter each reference URL on a new line.</p>
  </div>

  <div class="my-5">
    <%= form.label :policy_issue %>
    <%= form.select :policy_issue, options_for_select(Post::POLICY_ISSUES), {}, class: "block text-black shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
