<div class="mx-auto w-full max-w-screen-lg py-6 px-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex flex-col">
    
    <!-- Post Title -->
    <div class="bg-primary-rotate border-b border-secondary-rotate shadow-md p-4 rounded-t-lg">
      <p class="text-secondary-rotate text-sm mb-2"><%= @post.policy_issue %></p>
      <h2 class="text-3xl font-bold mb-2"><%= @post.title %></h2>
      <div class="flex flex-row align-center items-center">
        <div class="flex-1">
          <p class="text-accent text-sm">
            <%= link_to (@post.user ? @post.user.display_name : "Deleted User"), user_path(@post.user), class: "text-accent hover:underline" %>
          </p>
          <p class="text-secondary-rotate text-sm mt-2"><%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
        </div>
        <% if user_signed_in? and current_user != @post.user %>
          
        <div class="flex items-center gap-4">
          <%= render 'posts/post_report', post: @post %>
          <%= render 'posts/vote', post: @post %>
        </div>
        <% end %>
      </div>
    </div>
  

    <!-- Post Content Section -->
    <div class="flex items-center bg-primary-rotate shadow-md p-8 min-h-64">
      <p class="text-secondary leading-relaxed"><%= @post.content_with_references %></p>
    </div>

    <!-- References Section -->
    <% if @post.references.any? %>
      <div class="bg-primary-rotate shadow-md p-6 pb-10">
        <h3 class="font-semibold mb-2">References:</h3>
        <ul class="list-none list-inside">
          <% @post.references.each do |reference| %>
            <li class="flex gap-2 px-2">
              <%= link_to reference.text, reference.url, target: "_blank", rel: "noopener noreferrer", class: "text-blue-600 hover:underline break-all" %>
              <p class="text-secondary-rotate">[<%= reference.url %>]</p>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Comments Section -->
    <div class="bg-primary-rotate shadow-md rounded-b-lg">
      <div class="px-4 pt-4 border-t border-secondary">
        <h3 class="text-xl font-semibold">Comments</h3>
      </div>
      
      <% if @comments.any? %>
        <% @comments.each do |comment| %>
          <div class="flex flex-row gap-10 justify-center items-center [&:not(:last-child)]:border-b border-secondary-rotate p-4">
            <div class="flex flex-col flex-1 justify-center h-full">
              <p class="text-secondary"><%= comment.content %></p>
                <%= link_to (comment.user ? comment.user.display_name : "Deleted User"), user_path(comment.user), class: "mt-2 text-accent hover:underline" %>
                <p class="text-sm text-secondary-rotate"> <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
            </div>
            <div class="flex flex-row items-center gap-4">
              <% if current_user == comment.user %>
                <%= button_to [comment.post, comment], method: :delete, data: { confirm: "Are you sure you want to delete this comment?" }, class: "ml-2" do %>
                  <%= render 'shared/delete_icon', width: '24', height: '24', aria_label: 'Delete comment', classes: 'text-red-500 hover:text-red-700' %>
                <% end %>
              <% end %>
              <% if user_signed_in? and current_user != comment.user %>
                <%= render 'posts/comment_report', comment: comment %>
                <%= render 'posts/comment_vote', comment: comment %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="text-secondary-rotate p-4">No comments yet. Be the first to comment!</p>
      <% end %>
    </div>


    <!-- Comment Form -->
    <% if user_signed_in? %>
      <div class="bg-primary-rotate shadow-md p-4 rounded-lg my-4">
        <h3 class="text-xl font-semibold mb-4">Add a Comment</h3>
        <%= form_with(model: [ @post, Comment.new ], local: true) do |form| %>
          <div class="mb-4">
            <%= form.label :content, class: "block text-secondary font-bold mb-2" %>
            <%= form.text_area :content, rows: 4, class: "shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" %>
          </div>
          <%= form.submit "Post Comment", class: "bg-accent hover:bg-accent-rotate text-white font-bold py-2 px-4 rounded" %>
        <% end %>
      </div>
    <% else %>
      <div class="bg-primary-rotate shadow-md p-4 rounded-lg my-4">
        <p class="text-gray-500">You must be <%= link_to 'signed in', new_user_session_path, class: "text-blue-500 hover:underline" %> to post a comment.</p>
      </div>
    <% end %>

    <!-- Post Footer with Vote and Edit/Delete -->
    <div class="bg-primary-rotate shadow-md p-4 rounded-lg flex items-center justify-between">
      <%= link_to "Back to posts", posts_path, class: "bg-accent text-white py-2 px-4 rounded-lg ml-2" %>
      <% if current_user == @post.user %>
        <%= link_to "Edit", edit_post_path(@post), class: "border-secondary-rotate bg-primary text-secondary py-2 px-4 rounded-lg" %>
        <%= button_to "Delete", @post, method: :delete, class: "bg-red-500 text-white py-2 px-4 rounded-lg ml-2", data: { confirm: "Are you sure?" } %>
      <% end %>
      <% if user_signed_in? and current_user.role == "moderator" && !@post.verified %>
        <%= button_to "Verify", verify_post_path(@post), method: :post, class: "bg-green-500 text-white py-2 px-4 rounded-lg ml-2", data: { confirm: "Verify this post?" } %>
      <% end %>
    </div>
  </div>
</div>
